body {
    background-color: rgb(247, 197, 149);
    padding-left: 50px;
    padding-right: 50px;
}
h1 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: orange;
font-weight: bold;
font-size: 80px;
text-align: center;}

ul {
    font-family: monospace;
    font-weight: 500;
    font-size: 30px;
    color: rgb(213, 142, 50);
}
li {
    padding-bottom: 40px;
}
